.UserBox{
    height: 100%;
    width: 300px;
    display: flex;
    align-items: center;
}
.UserBox button{
    width: 125px;
    height: 70px;
    border: none;
    cursor: pointer;
    background-color: #FCD34D;
    font-size: 17px;
    line-height: 50px;
    font-weight: 500;
    padding-top: 2.4px;
    color: #78350F;
}
.UserBox button:hover{
    background-color: #FDE68A;
}
#reg{
    width: 175px;
}